In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# import data
star = pd.read_csv ('https://github.com/YBIFoundation/Dataset/raw/main/Stars.csv')

In [3]:
star.head()

,Temperature (K),Luminosity (L/Lo),Radius (R/Ro),Absolute magnitude (Mv),Star type,Star category,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Brown Dwarf,Red,M
1,3042,0.000500,0.1542,16.60,0,Brown Dwarf,Red,M
2,2600,0.000300,0.1020,18.70,0,Brown Dwarf,Red,M
3,2800,0.000200,0.1600,16.65,0,Brown Dwarf,Red,M
4,1939,0.000138,0.1030,20.06,0,Brown Dwarf,Red,M

In [4]:
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Temperature (K)          240 non-null    int64
 1   Luminosity (L/Lo)        240 non-null    float64
 2   Radius (R/Ro)            240 non-null    float64
 3   Absolute magnitude (Mv)  240 non-null    float64
 4   Star type                240 non-null    int64
 5   Star category            240 non-null    object
 6   Star color               240 non-null    object
 7   Spectral Class           240 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 15.1+ KB

In [5]:
star.describe()

,Temperature (K),Luminosity (L/Lo),Radius (R/Ro),Absolute magnitude (Mv),Star type
count,240.000000,240.000000,240.000000,240.000000,240.000000
mean,10497.462500,107188.361635,237.157781,4.382396,2.500000
std,9552.425037,179432.244940,517.155763,10.532512,1.711394
min,1939.000000,0.000080,0.008400,-11.920000,0.000000
25%,3344.250000,0.000865,0.102750,-6.232500,1.000000
50%,5776.000000,0.070500,0.762500,8.313000,2.500000
75%,15055.500000,198050.000000,42.750000,13.697500,4.000000
max,40000.000000,849420.000000,1948.500000,20.060000,5.000000

In [6]:
star.columns

Index(['Temperature (K)', 'Luminosity (L/Lo)', 'Radius (R/Ro)',
       'Absolute magnitude (Mv)', 'Star type', 'Star category', 'Star color',
       'Spectral Class'],
      dtype='object')

In [7]:
# number of categories
star[['Spectral Class']].value_counts() # 고유한 값들의 개수를 세기

Spectral Class
M                 111
B                  46
O                  40
A                  19
F                  17
K                   6
G                   1
dtype: int64

In [8]:
# encoding
star.replace({'Spectral Class':{'M':0, 'A':1, 'B':1, 'F':1, 'O':1, 'K':1, 'G':1 }}, inplace=True)

In [9]:
# number of categories
star[['Star type']].value_counts()

Star type
0            40
1            40
2            40
3            40
4            40
5            40
dtype: int64

In [11]:
# encoding
star.replace({'Star color':{ 'Red':0, 'Yellow':1, 'White':2, 'White ': 2, 'Blue ':3, 'Blue':3 }}, inplace=True)

In [12]:
# number of categories
star[['Star color']].value_counts()

Star color
0                     112
3                      56
Blue-white             26
Blue White             10
yellow-white            8
2                       7
Blue white              3
white                   3
Yellowish White         3
Whitish                 2
yellowish               2
Orange                  2
White-Yellow            1
Pale yellow orange      1
Yellowish               1
Blue-White              1
Blue white              1
Orange-Red              1
dtype: int64

In [13]:
# define target and features
y = star['Spectral Class']
X = star[['Temperature (K)', 'Luminosity (L/Lo)', 'Radius (R/Ro)',
       'Absolute magnitude (Mv)']]

In [14]:
# split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 200)

In [15]:
# select model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [16]:
# train model
model.fit(X_train,y_train)

LogisticRegression()

In [17]:
# predict
y_pred = model.predict(X_test)

In [18]:
y_pred

array([0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1], dtype=int64)

In [19]:
# import function
from sklearn.metrics import confusion_matrix, classification_report

In [20]:
confusion_matrix(y_test,y_pred)

array([[14,  4],
       [ 1, 29]], dtype=int64)

In [21]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.78      0.85        18
           1       0.88      0.97      0.92        30

    accuracy                           0.90        48
   macro avg       0.91      0.87      0.88        48
weighted avg       0.90      0.90      0.89        48