### 4,5번 축구 문제 풀기 싫은 사람을 위한 문제

> 대신 3문제

![image](https://mblogthumb-phinf.pstatic.net/MjAyMTAyMTJfMTUx/MDAxNjEzMDU4ODk1NDk1.Ee0t2fx4DJw3_8N_1jAcyn6OzRZy7jndc_XcmcV4hSsg.OxhVE2amSG89Vy12HdVwBeQIdGF2M_6q-K1oLiFJRA4g.JPEG.chooddingg/PHOTO_0071.JPG?type=w800)

In [1]:
import pandas as pd

## 6 ~ 8번 문제

- 넷플릭스 데이터 활용
- 데이터 설명 : https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies

In [2]:
## 데이터 불러오기
characters = pd.read_csv("https://raw.githubusercontent.com/minsuk1003/Python_DA_Study/main/Week%202/archive/credits.csv")
contents = pd.read_csv("https://raw.githubusercontent.com/minsuk1003/Python_DA_Study/main/Week%202/archive/titles.csv")

### 6. characters 데이터프레임에 컨텐츠의 title 컬럼을 추가하세요.

> HINT : characters 데이터프레임의 id 컬럼을 참조해야 함

In [7]:
## 밑에 코드 작성
print(characters) # 한 배우가 한 행

       person_id         id                name                character  \
0           3748    tm84618      Robert De Niro            Travis Bickle
1          14658    tm84618        Jodie Foster            Iris Steensma
2           7064    tm84618       Albert Brooks                      Tom
3           3739    tm84618       Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618     Cybill Shepherd                    Betsy
...          ...        ...                 ...                      ...
77796     736339  tm1059008    Adelaida Buscato                María Paz
77797     399499  tm1059008  Luz Stella Luengas             Karen Bayona
77798     373198  tm1059008         Inés Prieto                    Fanny
77799     378132  tm1059008        Isabel Gaona                   Cacica
77800    1950416  tm1059008      Julian Gaviria                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77796     ACTOR
77797     ACTOR
77798     ACTOR
77799     ACTOR
77800  DIRECTOR

[77801 rows x 5 columns]

In [9]:
print(contents) # 넷플릭스 컨텐츠가 한 행

             id                                      title   type  \
0      ts300399        Five Came Back: The Reference Films   SHOW
1       tm84618                                Taxi Driver  MOVIE
2      tm154986                                Deliverance  MOVIE
3      tm127384            Monty Python and the Holy Grail  MOVIE
4      tm120801                            The Dirty Dozen  MOVIE
...         ...                                        ...    ...
5845  tm1014599                                  Fine Wine  MOVIE
5846   tm898842                                C/O Kaadhal  MOVIE
5847  tm1059008                                    Lokillo  MOVIE
5848  tm1035612  Dad Stop Embarrassing Me - The Afterparty  MOVIE
5849   ts271048         Mighty Little Bheem: Kite Festival   SHOW

                                            description  release_year  \
0     This collection includes 12 World War II-era p...          1945
1     A mentally unstable Vietnam War veteran works ...          1976
2     Intent on seeing the Cahulawassee River before...          1972
3     King Arthur, accompanied by his squire, recrui...          1975
4     12 American military prisoners in World War II...          1967
...                                                 ...           ...
5845  A beautiful love story that can happen between...          2021
5846  A heart warming film that explores the concept...          2021
5847  A controversial TV host and comedian who has b...          2021
5848  Jamie Foxx, David Alan Grier and more from the...          2021
5849  With winter behind them, Bheem and his townspe...          2021

     age_certification  runtime                                       genres  \
0                TV-MA       51                            ['documentation']
1                    R      114                           ['drama', 'crime']
2                    R      109  ['drama', 'action', 'thriller', 'european']
3                   PG       91              ['fantasy', 'action', 'comedy']
4                  NaN      150                            ['war', 'action']
...                ...      ...                                          ...
5845               NaN      100                         ['romance', 'drama']
5846               NaN      134                                    ['drama']
5847               NaN       90                                   ['comedy']
5848             PG-13       37                                           []
5849               NaN        7            ['family', 'animation', 'comedy']

     production_countries  seasons     imdb_id  imdb_score  imdb_votes  \
0                  ['US']      1.0         NaN         NaN         NaN
1                  ['US']      NaN   tt0075314         8.2    808582.0
2                  ['US']      NaN   tt0068473         7.7    107673.0
3                  ['GB']      NaN   tt0071853         8.2    534486.0
4            ['GB', 'US']      NaN   tt0061578         7.7     72662.0
...                   ...      ...         ...         ...         ...
5845               ['NG']      NaN  tt13857480         6.8        45.0
5846                   []      NaN  tt11803618         7.7       348.0
5847               ['CO']      NaN  tt14585902         3.8        68.0
5848               ['US']      NaN         NaN         NaN         NaN
5849                   []      1.0  tt13711094         7.8        18.0

      tmdb_popularity  tmdb_score
0               0.600         NaN
1              40.965       8.179
2              10.010       7.300
3              15.461       7.811
4              20.398       7.600
...               ...         ...
5845            1.466         NaN
5846              NaN         NaN
5847           26.005       6.300
5848            1.296      10.000
5849            2.289      10.000

[5850 rows x 15 columns]

In [15]:
pd.merge(characters, contents[["id", "title"]], how="inner", on="id")

,person_id,id,name,character,role,title
0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver
1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver
2,7064,tm84618,Albert Brooks,Tom,ACTOR,Taxi Driver
3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver
4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR,Taxi Driver
...,...,...,...,...,...,...
77796,736339,tm1059008,Adelaida Buscato,María Paz,ACTOR,Lokillo
77797,399499,tm1059008,Luz Stella Luengas,Karen Bayona,ACTOR,Lokillo
77798,373198,tm1059008,Inés Prieto,Fanny,ACTOR,Lokillo
77799,378132,tm1059008,Isabel Gaona,Cacica,ACTOR,Lokillo
77800,1950416,tm1059008,Julian Gaviria,NaN,DIRECTOR,Lokillo

### 7. 2010년 이후의 한국 컨텐츠만 출력하세요.

- production_countries : "KR"

In [ ]:
## 밑에 코드 작성

### 8. 오징어게임에 출연한 배우를 출력하세요.

- title : "Squid Game"

In [41]:
## 밑에 코드 작성